.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 16px 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 32px;
}

.field {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  color: var(--dsw-alias-label-secondary);
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.title {
  font-size: 14px;
  line-height: 20px;
}

.description {
  margin-top: 4px;
  color: var(--dsw-alias-label-secondary);
  font-size: 12px;
  line-height: 18px;
}
